### Package Files ###
*.war
*.ear
*.txt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Java ###

*.class

### Windows ###

thumbs.db
*.db

### Intellij IDEA ###

*.iml
*.ipr
*.iws

.idea
.idea_modules
!.idea/icon.svg
classes
out
build
.gradle



# other
run
libs

*.jar

