# Block
public net.minecraft.block.Block field_149764_J # blockMaterial
public net.minecraft.block.Block field_181083_K # blockMapColor
public net.minecraft.block.Block field_149782_v # blockHardness
public net.minecraft.block.Block field_149781_w # blockResistance

# TileEntity
protected net.minecraft.tileentity.TileEntityChest field_145985_p # chestContents, for allowing a size override
protected net.minecraft.tileentity.TileEntityChest func_174912_b(Lnet/minecraft/util/math/BlockPos;)Z # boolean isChestAt(BlockPos posIn), to allow different types of chests to live together as one
public net.minecraft.tileentity.TileEntity field_190562_f # REGISTRY

# EntityItem
public net.minecraft.entity.item.EntityItem field_70292_b # age
protected net.minecraft.entity.item.EntityBoat field_184469_aF # status
protected net.minecraft.entity.item.EntityBoat field_184471_aG # previousStatus
protected net.minecraft.entity.item.EntityBoat field_184474_h # outOfControlTicks
protected net.minecraft.entity.item.EntityBoat field_184470_f # paddlePositions
protected net.minecraft.entity.item.EntityBoat func_184449_t()Lnet/minecraft/entity/item/EntityBoat$Status; # getBoatStatus
protected net.minecraft.entity.item.EntityBoat func_184447_s()V # tickLerp
protected net.minecraft.entity.item.EntityBoat func_184450_w()V # updateMotion
protected net.minecraft.entity.item.EntityBoat func_184443_x()V # controlBoat
protected net.minecraft.entity.item.EntityFallingBlock field_175132_d # fallState

# Animals
protected net.minecraft.entity.passive.EntityLlama func_190706_p(I)V # setStrength, so we can set our offpsring strength on birth
public-f net.minecraft.entity.EnumCreatureType field_75606_e # maxNumberOfCreature to scale difficulty

# FallbackResourceManager
public net.minecraft.client.resources.FallbackResourceManager field_110539_b # frmMetadataSerializer
public net.minecraft.client.resources.FallbackResourceManager field_110540_a # resourcePacks
public net.minecraft.client.resources.FallbackResourceManager func_188552_d(Lnet/minecraft/util/ResourceLocation;)V # checkResourcePath
public net.minecraft.client.resources.FallbackResourceManager func_177245_a(Lnet/minecraft/util/ResourceLocation;Lnet/minecraft/client/resources/IResourcePack;)Ljava/io/InputStream; # getInputStream
public net.minecraft.client.resources.FallbackResourceManager func_110537_b(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/util/ResourceLocation; # getLocationMcmeta

# GuiContainer
protected net.minecraft.client.gui.inventory.GuiContainer field_147012_x # draggedStack
protected net.minecraft.client.gui.inventory.GuiContainer field_146996_I # dragSplittingRemnant
protected net.minecraft.client.gui.inventory.GuiContainer field_147006_u # hoveredSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_147004_w # isRightMouseClick
protected net.minecraft.client.gui.inventory.GuiContainer field_146991_C # returningStack
protected net.minecraft.client.gui.inventory.GuiContainer field_146989_A # returningStackDestSlot
protected net.minecraft.client.gui.inventory.GuiContainer field_146990_B # returningStackTime
protected net.minecraft.client.gui.inventory.GuiContainer field_147011_y # touchUpX
protected net.minecraft.client.gui.inventory.GuiContainer field_147010_z # touchUpY
protected net.minecraft.client.gui.inventory.GuiContainer func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V # drawItemStack
protected net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
protected net.minecraft.client.gui.inventory.GuiContainer func_146981_a(Lnet/minecraft/inventory/Slot;II)Z # isMouseOverSlot

# Slot
public-f net.minecraft.inventory.container.Slot field_75223_e # x
public-f net.minecraft.inventory.container.Slot field_75221_f # y

# Locale
public net.minecraft.client.resources.Locale field_135032_a # properties

# LootConditionManager
public net.minecraft.world.storage.loot.conditions.LootConditionManager field_186643_b # CLASS_TO_SERIALIZER_MAP

# LootFunctionManager
public net.minecraft.world.storage.loot.functions.LootFunctionManager field_186585_b # CLASS_TO_SERIALIZER_MAP

# LootTableManager
public net.minecraft.world.storage.loot.LootTableManager field_186526_b # GSON_INSTANCE

# Minecraft
public net.minecraft.client.Minecraft field_193996_ah # renderPartialTicksPaused
public net.minecraft.client.Minecraft field_175617_aL # modelManager

# ModelBakery
public net.minecraft.client.renderer.block.model.ModelBakery field_177601_e # JOINER
public net.minecraft.client.renderer.block.model.ModelBakery field_177603_c # LOGGER
public net.minecraft.client.renderer.block.model.ModelBakery field_177611_h # models
public net.minecraft.client.renderer.block.model.ModelBakery func_188633_a(Ljava/util/Deque;Ljava/util/Set;Lnet/minecraft/client/renderer/block/model/ModelBlock;)V # addModelParentLocation
public net.minecraft.client.renderer.block.model.ModelBakery func_177573_e(Lnet/minecraft/util/ResourceLocation;)Ljava/util/List; # getParentPath
public net.minecraft.client.renderer.block.model.ModelBakery func_177594_c(Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/client/renderer/block/model/ModelBlock; # loadModel

# RenderItem
public net.minecraft.client.renderer.RenderItem func_191966_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;)V # renderEffect
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel

# RegistrySimple
public net.minecraft.util.registry.RegistrySimple field_82596_a # registryObjects

# SimpleReloadableResourceManager
public net.minecraft.client.resources.SimpleReloadableResourceManager field_110548_a # domainResourceManagers

# SimpleResource
public net.minecraft.client.resources.SimpleResource field_110531_d # mcmetaInputStream

# World generation
public net.minecraft.world.biome.Biome field_76791_y # biomeName, the getter is client side only and we need it.
public net.minecraft.world.gen.structure.template.Template field_186270_a # blocks, used by tree generators that use structure blocks to allow a more specific placement method
public net.minecraft.world.WorldSettings field_77169_g # bonusChestEnabled, needed to force disable it
public-f net.minecraft.world.biome.Biome func_180626_a(Lnet/minecraft/util/math/BlockPos;)F # getTemperature, used because we need to override to have positional context when calculating temperature. Overriden by BiomeTFC, not unused!
protected net.minecraft.world.gen.ChunkGeneratorDebug field_177464_a # ALL_VALID_STATES
protected net.minecraft.world.gen.ChunkGeneratorDebug field_177462_b # GRID_WIDTH
protected net.minecraft.world.gen.ChunkGeneratorDebug field_181039_c # GRID_HEIGHT

# Food Stats replacements
public net.minecraft.util.FoodStats field_75127_a # foodLevel
public net.minecraft.util.FoodStats field_75125_b # foodSaturationLevel
public net.minecraft.util.FoodStats field_75126_c # foodExhaustionLevel
public net.minecraft.entity.player.EntityPlayer field_71100_bB # foodStats

# overrides for default world types
public net.minecraft.server.dedicated.DedicatedServer field_71340_o # settings, so we can override the default level-type
public net.minecraft.client.gui.GuiCreateWorld field_146331_K # selectedIndex, for changing default

# Explosion
protected net.minecraft.world.Explosion field_77281_g # affectedBlockPositions
public net.minecraft.world.Explosion field_77280_f # size
protected net.minecraft.world.Explosion field_77287_j # world
protected net.minecraft.world.Explosion field_77284_b # x
protected net.minecraft.world.Explosion field_77285_c # y
protected net.minecraft.world.Explosion field_77282_d # z





